{% if section.settings.ico != blank %}
  {{ 'image-block.css' | asset_url | stylesheet_tag }}
  <div class="image-block {% if section.settings.parallax == true %} parallax-container parallax-container-desctop {% endif %}" {% if section.settings.parallax == true %} data-parallax="scroll"data-position="top"data-bleed="0"data-image-src="https:{{ section.settings.ico | img_url: "master" }}"
    {% endif %}>
    <img src="{{ section.settings.ico | img_url: "master" }}">
  </div>
{% endif %}
{% schema %}
  {
    "name": "Image block",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "ico",
        "label": "Ico"
      }, {
        "type": "checkbox",
        "id": "parallax",
        "default": false,
        "label": "Parallax"
      }
    ],
    "presets": [
      {
        "name": "Image block"
      }
    ]
  }
{% endschema %}
