

<div class="template-404 container p110 center">
  <p class="h2">
    {{ 'templates.404.subtext' | t }}
  </p>
  <h1 class="title">
    {{ 'templates.404.title' | t }}
  </h1>
  <a href="/" class="btn btn_mint">
    {{ 'general.continue_shopping' | t }}
     <i class="fa fa-angle-right"></i>
  </a>
</div>
