<div class="page_bg_block page_bg_block_items p68">
  <div class="container p16">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-6">
        {% if section.settings.image1 != blank %}
          <img src="{{ section.settings.image1 | img_url: "master" }}">
        {% endif %}
      </div>
      <div class="col-lg-7 col-md-6 order-md-first ">

        <div class="page_bg_block_text p42">

          {% if section.blocks.size > 0 %}
            <div class="our_standards_items">
              {% for block in section.blocks %}
                <div class="item">
                  <div class="item_title h3 m0">
                    {{ block.settings.title }}
                    <i class="fal fa-plus"></i>
                  </div>
                  <div class="item_text m0">
                    {{ block.settings.text }}
                  </div>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Page section 1",
    "tag": "section",
    "class": "section",
    "settings": [
      {
        "type": "image_picker",
        "id": "image1",
        "label": "Image"
      }
    ],
    "blocks": [
      {
        "type": "item",
        "name": "Item",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "text",
            "label": "Text"
          }
        ]
      }
    ]
  }
{% endschema %}
