<div id="stamped-main-widget"></div>

{% schema %}
  {
    "name": "Stamped review",
    "settings": [],
    "presets": [
    {
      "name": "Stamped review"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}