.go-cart-wrp {
  position: relative;
  z-index: 98;
}

.go-cart__modal {
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 50;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  max-width: 420px;
  height: 220px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.go-cart__modal.is-open {
  opacity: 1;
  visibility: visible;
}

.go-cart__overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 30;
  background-color: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.go-cart__overlay.is-open {
  opacity: 1;
  visibility: visible;
}

.go-cart__drawer {
  position: fixed;
  top: 0;
  right: -420px;
  z-index: 40;
  width: 100%;
  max-width: 420px;
  height: 100%;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.go-cart__drawer.is-open {
  -webkit-transform: translateX(-420px);
      -ms-transform: translateX(-420px);
          transform: translateX(-420px);
}

.go-cart__drawer--left {
  right: auto;
  left: -420px;
}

.go-cart__drawer--left.is-open {
  -webkit-transform: translateX(420px);
      -ms-transform: translateX(420px);
          transform: translateX(420px);
}

.go-cart__mini-cart {
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 40;
  width: 420px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: none;
  opacity: 0;
  visibility: hidden;
  cursor: auto;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.go-cart__mini-cart.is-open {
  display: block;
  opacity: 1;
  visibility: visible;
}

.go-cart__empty {
  text-align: center;
  padding: 40px 0;
}

.go-cart__trigger {
  position: relative;
  cursor: pointer;
}

.go-cart__button {
  background: black;
  color: white;
  padding: 20px 10px;
  text-align: center;
  cursor: pointer;
}

.go-cart-modal {
  position: relative;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.go-cart-modal__close {
  position: absolute;
  z-index: 10;
  right: 20px;
  top: 20px;
  line-height: 0;
  cursor: pointer;
}

.go-cart-modal__content {
  width: 100%;
  padding: 20px;
  text-align: center;
}

.go-cart-modal__buttons {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px 20px;
}

.go-cart-drawer {
  position: relative;
  height: 100%;
}

.go-cart-drawer__header {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px;
}

.go-cart-drawer__close {
  cursor: pointer;
  line-height: 0;
}

.go-cart-drawer__content {
  height: calc(100% - 170px - 60px - 50px);
  overflow: hidden;
  overflow-y: scroll;
  padding: 0 30px;
  margin-right: -15px;
}

.go-cart-drawer__subtotal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.go-cart-drawer__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 170px;
  padding: 20px 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.go-cart-mini-cart {
  position: relative;
}

.go-cart-mini-cart__content {
  position: relative;
  padding: 0 30px;
}

.go-cart-mini-cart__subtotal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 50px;
  padding: 0 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.go-cart-mini-cart__footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 20px 30px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.go-cart-item__single {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 15px 0;
  border-bottom: 1px solid #f5f5f5;
}

.go-cart-item__info-wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.go-cart-item__info {
  max-width: 250px;
  line-height: 1.18;
  padding: 10px 10px 10px 30px;
}

.go-cart-item__image {
  width: 90px;
  height: 110px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.go-cart-item__title {
  vertical-align: top;
  height: 40px;
  overflow: hidden;
}

.go-cart-item__variant {
  position: relative;
  top: 0;
  font-size: 14px;
  opacity: 0.7;
}

.go-cart-item__quantity {
  position: absolute;
  bottom: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #f5f5f5;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.go-cart-item__quantity-label {
  display: none;
  margin-right: 5px;
}

.go-cart-item__quantity-number {
  width: 30px;
  height: 24px;
  margin: 0;
  text-align: center;
  font-size: 1rem;
  color: #000000;
  border: none;
  outline: none;
  -moz-appearance: textfield;
}

.go-cart-item__quantity-number::-webkit-inner-spin-button, .go-cart-item__quantity-number::-webkit-outer-spin-button {
  -webkit-appearance: none;
          appearance: none;
  margin: 0;
  display: none;
}

.go-cart-item__quantity-button {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1rem;
  padding: 0 5px;
  margin: 0 2px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.go-cart-item__price {
  position: absolute;
  bottom: 25px;
  right: 0;
}

.go-cart-item__remove {
  position: absolute;
  right: 0;
  top: 25px;
  cursor: pointer;
}

.go-cart-modal-item {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.go-cart-modal-item__info {
  max-width: 250px;
  padding: 10px 10px 10px 30px;
  line-height: 1.18;
}

.go-cart-modal-item__image {
  width: 90px;
  height: 110px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.is-invisible {
  opacity: 0;
  visibility: hidden;
}