{% style %}

    .colorbox{
        width:100%;
        height:100px;
    }
   
 
{% endstyle %}
 
<div class="container p42"> 

    <h1 class="h1 mb26">Lorem ipsum dolor sit amet</h1>
    <h2 class="h2 mb26">Lorem ipsum dolor sit amet, consectetur elit. </h2>
    <h3 class="h3 mb26">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h3>
    <h4 class="h4 mb26">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h4>
    <h5 class="h5 mb26">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h5>
    <h6 class="h6 mb26">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </h6>
    <p class="p text mb26">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut est vel est mollis dictum nec sed eros. Mauris tempus, ex vitae efficitur vehicula, mauris sem tincidunt magna, in maximus neque turpis eu urna. Proin id rutrum enim. Etiam pharetra faucibus magna, ac ornare felis tempus in. Donec ut augue non velit fringilla congue. Nunc ullamcorper orci vitae lacus faucibus ultrices. Ut et ex cursus felis semper consequat. Suspendisse placerat ex condimentum enim semper pretium. Donec eget odio cursus, placerat dolor ut, pharetra magna.</p>
        <p class="p text mb110">Curabitur rhoncus commodo felis. Etiam tincidunt ipsum eget turpis gravida, sit amet vehicula mauris dictum. Nulla interdum erat non eleifend tempor. Vivamus ac elit urna. Nulla accumsan bibendum vestibulum. Donec sit amet purus diam. Ut nulla lectus, interdum at congue ultrices, pharetra sit amet felis. Aliquam sed dui consectetur, elementum ligula vitae, tincidunt felis. Praesent arcu tortor, elementum eget tincidunt vel, fringilla nec ante.
    </p>

    <div class="row mb110">
        <div class="col-md-8">
            <div class="row gap-3">
                <div class="col-md-6">
                     <h6 class="caps mb10">Generals</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="brand-color-1 colorbox mb26"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="brand-color-2 colorbox mb26"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="brand-color-3 colorbox mb26"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <h6 class="caps mb10">Hovers</h6>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="hover-color-1 colorbox mb26"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="hover-color-2 colorbox mb26"></div>
                        </div>
                        <div class="col-md-6">
                            <div class="hover-color-3 colorbox mb26"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

         <h6 class="caps mb10">DEFAULT Grey-colors</h6>
          <div class="row">
                
                <div class="col-md-2">
                     <div class="bg-grey80 colorbox mb26"></div>
                </div>
                <div class="col-md-2">
                     <div class="bg-grey70 colorbox mb26"></div>
                </div>
                <div class="col-md-2">
                     <div class="bg-grey60 colorbox mb26"></div>
                </div>
                 <div class="col-md-2">
                     <div class="bg-grey50 colorbox mb26"></div>
                </div>
                  <div class="col-md-2">
                     <div class="bg-grey40 colorbox mb26"></div>
                </div>  
            

        </div>

        <div class="row mb110">
              <div class="col-md-2">
                     <div class="bg-grey30 colorbox mb26"></div>
                </div>   
                <div class="col-md-2">
                     <div class="bg-grey20 colorbox mb26"></div>
                </div>  
                <div class="col-md-2">
                     <div class="bg-grey10 colorbox mb26"></div>
                </div>  
                 <div class="col-md-2">
                     <div class="bg-grey5 colorbox mb26"></div>
                </div>    
        </div>

        <h1 class="h1 uncaps mb26">Lorem ipsum dolor sit amet</h1>
    <h1 class="h1 uncaps fw_600 mb26">Lorem ipsum dolor sit amet</h1>
    <h1 class="h1 uncaps fw_600 italic mb26">Lorem ipsum dolor sit amet </h1>

    <hr class="bg-grey30 hr m68">

        <div class="row">
              <div class="col-md-3 mb26">
                    <p class="caps fw_600  mb10">Button</p>
                    <a href="#" class="btn">Sing in</a>
                </div>   
                <div class="col-md-3 mb26">
                    <p class="caps fw_600  mb10">Button 2</p>
                    <a href="#" class="btn btn_mint">
                        Contact sales 
                       <i class="fa fa-angle-right"></i>

                    </a>
                </div>  
                <div class="col-md-3 mb26">
                    <p class="caps fw_600  mb26">Button 3</p>
                  
                    <a href="#" class="btn btn_link">
                        Contact sales
                       <i class="fa fa-angle-right"></i>

                    </a>
                </div>  
             
        </div>


</div>